.card-container {
    width: 15rem; 
    height: 9rem;
    border-radius: 0.7rem; 
    padding: 0.94rem; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1c1f71;
   margin-top: 1rem;
    position: relative;
}
  
.card-logo {
    position: absolute; 
    top: 0.7rem; /* 15px -> 0.7rem */
    left: 0.7rem; /* 15px -> 0.7rem */
}
  
.vendor-logo {
    width: 2.34rem; /* 50px -> 2.34rem */
    height: auto;
}
  
.card-bank {
    position: absolute;
    top: 0.47rem; /* 10px -> 0.47rem */
    right: 0.94rem; /* 20px -> 0.94rem */
    font-size: 0.68rem; /* 0.9rem -> 0.68rem */
    font-weight: bold;
    text-align: right;
}
  
.card-number {
    font-size: 0.9rem; /* 1.2rem -> 0.9rem */
    letter-spacing: 0.09rem; /* 2px -> 0.09rem */
    margin-top: 2.34rem; /* 50px -> 2.34rem */
    position: relative;
}
  
.card-info {
    display: flex;
    justify-content: space-between;
}
  
.card-holder, .card-expiry {
    font-size: 0.68rem; /* 0.9rem -> 0.68rem */
}
  
.card-expiry {
    width: 2.34rem; /* 50px -> 2.34rem */
    text-align: right;
}
  
.card-label {
    font-size: 0.56rem; /* 0.75rem -> 0.56rem */
    opacity: 0.8;
}
