* {
    box-sizing: border-box; /* Inkluderar padding och border i elementets storlek */
}




body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/src/assets/background.avif');
    background-size: cover; /* Gör att bilden täcker hela bakgrunden */
    background-position: center; 
    background-repeat: no-repeat; 
    color: var(--text-color);
    max-width: 100%;
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: center; /* Centrerar horisontellt */
    align-items: center; /* Centrerar vertikalt */
    min-height: 100vh; 
    flex-direction: column; 
    
}

a {
    text-decoration: inherit;
  }

:root {
    --background-color: white;
    --text-color: black;
  }
  
 
  
  button {
    background-color: var(--button-background);
  }
  

  .home-container {
    height: 71vh;
   width: 22rem;
    overflow-y: auto; 
    backdrop-filter: blur(10px);
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .card-details-container {
    height: 71vh;
    overflow-y: auto; 
    backdrop-filter: blur(10px);
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.add-card-container {
    height: 71vh;
    width: 22rem;
    overflow-y: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

.app-container {
    max-height: 71vh;
    color: var(--text-color);
    width: 22rem;
    background-color: var(--background-color);
    border-radius: 20px;

  }

  .inactive-card {
    filter: grayscale(80%); 
    opacity: 0.7; 
    transition: all 0.3s ease;
  }
  
  .inactive-card:hover, .inactive-card:active {
    filter: none; 
    opacity: 1;
    border: 2px solid #333; 
  }
  
  
  .max-cards-message {
    margin-top: 20px;
    color: var(--text-color);
  }
  
  
/* SETTINGS*/

.settings-container {
    background-color: var(--background-color);
    max-width: 400px;
    height: 30vh;
    overflow-y: auto; 
    backdrop-filter: blur(10px); 
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .settings-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
  }
  
  .settings-container label {
    font-size: 1.2rem;
    margin-right: 10px;
    color: var(--text-color);
  }
  
  .settings-container select {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--button-background);
    color: var(--text-color);
  }
  
  .settings-container button {
    background-color: var(--button-background);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .settings-container button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
  }

  
 






  

  

  